<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head lang="en">
    <title>Users</title>
    <th:block th:include="layout/header"></th:block>
</head>
<body>
<div class="container">
    <div th:if="${not #lists.isEmpty(users)}">
        <h2>All Users</h2>
        <table class="table table-striped">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
                <th>LastName</th>
                <th>FirstName</th>
                <th>Role</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}">Id</td>
                <td th:text="${user.email}">Email</td>
                <td th:text="${user.password}">Password</td>
                <td th:text="${user.lastName}">LastName</td>
                <td th:text="${user.name}">UserName</td>
                <td th:text="${user.roles}">Role</td>
                <td><a  th:href="${'/users/delete/' + user.id}" class="btn btn-danger">Delete</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>